.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin: 92px auto 0;
}

@media only screen and (max-width: 1279px) {
    .photo-grid {
        margin: 92px 48px 0;
    }
}

@media only screen and (max-width: 1023px) {
    .photo-grid {
        gap: 14px;
        margin: 88px 24px 0;
    }
}

@media only screen and (max-width: 767px) {
    .photo-grid {
        margin: 64px 16px 0;
    }
}

@media only screen and (max-width: 424px) {
    .photo-grid {
        gap: 12px;
    }
}

/*Честно говоря, совсем не понял как добавить отступы и оставить текущее расположение картинок (4 в ряд) не изменяя размер. max-width в page установлен на 1184px;
Согласно брифа размер картинок 284px (4x), грид 16px (3x), плюс надо добавить два отступа по 48 px - итого 1280px.
При этом блок page сам имеет маргин 48px. Получается чтобы сделать отступ именно photo-grid, мне нужно обнулить маргин в page и отдельно прописать max-width
для части элементов + маргин увеличенный на 48px, т к сейчас маргин др блоков указан с учетом page (100px+48px).Либо же изменять размер картинок и грид.
Буду благодарен за подсказку, надеюсь мой лимит на глупые вопросы еще не иссяк.)

P.s. Думаю до меня дошло.Указал маргин до 1279px, так как 3 картинки. Надеюсь что правильно понял "от 1024 до 1280". В любом случае спасибо за ревью и за терпение тоже.)*/
